<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pro100svitlo.nfccardreader">

    <uses-permission android:name="android.permission.NFC" />
    <application
        >
        <intent-filter>
            <action android:name="android.nfc.action.TECH_DISCOVERED" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>

        <meta-data
            android:name="android.nfc.action.TECH_DISCOVERED"
            android:resource="@xml/nfc_tech_filter" />
    </application>

</manifest>
